{% load cms_tags wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}


{% for page in pages %}

<div class="row">

    {% if page.specific.image or page.specific.feed_image %}
    <div class="col-1-3 mob-full">
        <div class="imgcrop">
            <a href="{% pageurl page %}" aria-label="link to {{ page.title }}">
                {% if page.specific.image %}
                    {% image page.specific.image original %}
                {% else %}
                    {% image page.specific.feed_image original %}
                {% endif %}
            </a>
        </div>
    </div>

    {% endif %}
    <div class="col-2-3 mob-full">
        
            <h3><a href="{% pageurl page %}">{{ page.title }}</a></h3>
        
            {% include "cms/includes/streamfield_trunc.html" with blocks=page.specific.body %}
            
            <a href="{% pageurl page %}" aria-label="Read more about {{ page.title }}">
                <div class="button dark">Read More >></div>
            </a>

    </div>
</div>

{% endfor %}

