{% load cms_tags wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}


{% for page in pages %}

<div class="row">

    {% if page.specific.feed_image %}
    <div class="col-1-3 mob-full">
        <a href="{% pageurl page %}">
            {% image page.specific.feed_image original %}
        </a>
    </div>

    {% endif %}
    <div class="col-2-3 mob-full">
        
            <h3><a href="{% pageurl page %}">{{ page.title }}</a></h3>
        
            {% include "cms/includes/streamfield_firstonly_notrunc.html" with blocks=page.specific.body %}

    </div>
</div>

{% endfor %}

