{% load wagtailcore_tags %}
<ul>
    <li{% if root.active %} class="active" {% endif %}>
        <a href="{% pageurl root %}">{{ root.title }}</a>
    </li>
    {% for page in menu_pages %}
    <li{% if page.active %} class="active" {% endif %}>
        <a href="{% pageurl page %}">{{ page.title }}</a>
    </li>
    {% endfor %}
    <li>
        <div class="search-box">
            <form action="/search" method="get">
                <input type="text" class="search-box-text" name="q" {% if query_string %} value="{{ query_string }}" {% endif %} placeholder="Search the site">
                <div class="search-button-container">
                    <button type="submit" class="search-button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </li>
</ul>
