-r ddhldap/requirements.txt
django==1.10
django-compressor
django-grappelli
django-libsass
django-model-utils
django-redis
django-require
psycopg2
redis
elasticsearch>=2.0.0,<3.0.0
django-taggit
wagtail