-r ddhldap/requirements.txt
django
django-compressor
django-grappelli<=2.14.2
django-libsass
django-model-utils
django-redis
django-require
psycopg2-binary
redis
elasticsearch>=7.0.0,<8.0.0
django-appconf
django-taggit
wagtail==1.13
