-r ddhldap/requirements.txt
django<2
django-compressor
django-grappelli<=2.14.2
django-libsass
django-model-utils
django-redis
django-require
psycopg2-binary
redis
elasticsearch>=2.0.0,<3.0.0
django-appconf<=1.0.2
django-taggit
wagtail<2
# wagtailmenus<3
