{% load wagtailimages_tags %}

<div class="artwork">
    <div class="comparison">
        <figure>
            {% image feature.artworks.all.0.image width-400 class="artwork-img img-before" %}
            <div class="handle"></div>
            <div class="divisor">
                {% image feature.artworks.all.1.image width-400 class="artwork-img img-after" %}
            </div>
        </figure>
        <input type="range" min="0" max="100" value="50" class="slider">
    </div><!-- end .comparison -->
</div><!-- end .artwork -->
