{% load staticfiles %}
    <ul>

     <li>
        <div class="logo">
          <a href="https://wellcome.ac.uk" title="Wellcome">
            <img src="/static/images/wellcome-logo-white.svg" alt="Wellcome" height="70">
          </a>
          <a href="http://www.kcl.ac.uk/" title="King's College London">
            <img src="/static/images/KCL-logo-white.svg" alt="King's College London" height="70">
          </a>
        </div>
      </li>
      <li>
      <a href="">
          <i class="fa fa-twitter" aria-hidden="true"></i>@RenSkinKCL
        </a>
      </li>
      <li>
      <a href="">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>renaissanceskin@kcl.ac.uk
        </a>
      </li>

      <li>
      King’s College London, Virginia Woolf Building, 22 Kingsway, WC2B 6LE
      </li>
      <!--<li>
        Designed and developed by <a href="https://www.kdl.kcl.ac.uk/" title="King's Digital Lab"><strong>King's Digital Lab</strong></a>
      </li>-->

    </ul>

