{% load staticfiles %}

<div class="row">
    <div class="col-full">
        <p>
            <a href="//wellcome.ac.uk" title="Wellcome">
        <img src="{% static 'images/wellcome-logo-white.svg' %}" alt="Wellcome" >
      </a>
            <a href="//www.kcl.ac.uk/" title="King's College London">
        <img src="{% static 'images/KCL-logo-white.svg' %}" alt="King's College London" >
      </a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-full">
        <p>
            <a href="//twitter.com/RenSkinKCL">
      <i class="fa fa-twitter" aria-hidden="true"></i>@RenSkinKCL</a>
            <a href="mailto:renaissanceskin@kcl.ac.uk?subject=Hello!">
      <i class="fa fa-envelope-o" aria-hidden="true"></i>renaissanceskin@kcl.ac.uk
                </a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-full">
        <p>
            King’s College London, Virginia Woolf Building, 22 Kingsway, WC2B 6LE
        </p>
        <p>
            Designed, developed, and maintained by <a href="//www.kdl.kcl.ac.uk/" title="King's Digital Lab"><strong>King's Digital Lab</strong></a>
        </p>
    </div>
</div>

<!-- Cookie disclaimer -->

<div class="callout cookies-box hide" id="cookie-disclaimer">
  <p>We use cookies to track usage and preferences.</p>
  <p><button class="button reverse closeme" aria-label="Dismiss alert" type="button">Accept</button></p>
  <p><a href="/privacy-policy/" class="small">Privacy &amp; cookie policy</a></p>
</div>
