{% extends "cms/base.html" %}
{% load cms_tags wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}

{% block main %}


                
<div class="row viewport">
<h2>{{ self.title }}</h2>
    {% for chapter in self.get_children.live.all %}
    <div class="item col-1-3 tab-1-2 mob-full">
        <a href="{% pageurl chapter %}">
        <div class="imgcrop">
                {% image chapter.get_children.all.0.specific.image original %}
                </div>
                <div class="overlay">
                    <h3>{{ chapter.title }}</h3>
                </div>
                </a>
    </div>
    {% endfor %}
</div>


{% endblock %}
