{% extends "cms/base.html" %}

{% load wagtailimages_tags %}

{% block main %}

<div class="row">
    <div class="content-wrapper">
        <div class="content">
            <div class="content-padding">
                <h2>{{ self.title }}</h2>
                
                <div class="row">
                    {% if self.image %}
                        <div class="col-full mob-full">
                            {% image self.image original %}
                        </div>
                    {% endif %}
                    
                     <div class="col-full mob-full">

                     <div class="meta info">
                        <i class="fa fa-clock-o"></i>
                        <time datetime="{{ page.specific.date }}">
                        {{ self.date_from|date:'j b Y' }} 
                        {% if self.date_to %} - {{ self.date_to|date:'j b Y' }}{% endif %}
                        {{ self.time|date:'H:i' }} 
                        {% if self.time_end %} - {{ self.time_end|date:'H:i' }}{% endif %}
                        </time>
                </div>
                        {% include "cms/includes/streamfield.html" with blocks=self.body %}
                    </div>
                </div>
                    
            </div>
        </div>
    </div>
</div>

{% endblock %}
