{% extends "cms/base.html" %}
{# % load menu_tags % #}

{% block body-class %}bodyex{% endblock %}

{% block main %}

<div class="row">
    <div class="content-wrapper">
        <div class="content">
            <div class="content-padding">
                {% comment %}
                    <ul id="exhibition-menu">
                        {% flat_menu 'visibleskin' use_specific=True %}
                    </ul>
                {% endcomment %}

                <h2>{{ self.title }}</h2>

                <div class="row">
                    {% block excontent %}
                         <div class="col-full mob-full">
                            {% include "cms/includes/streamfield.html" with blocks=self.body %}
                        </div>
                    {% endblock excontent %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
