{% extends "cms/exhibition_base.html" %}
{% load cms_tags %}
{% load wagtailimages_tags %}
{% block main %}

{% fragmentation %}
    {% toc %}
        {% include "cms/includes/streamfield.html" with blocks=self.body %}
    {% endtoc %}
{% endfragmentation %}

<!-- artwork prototype - static content-->
<input id="switch" type="checkbox" />
{% toc %}
<div class="page-wrap">
    <label for="switch" id="menu-toggle"> Page Content</label>
    <div class="row">
        <div class="col-1-6 tab-1-4 mob-full">
            <h2>
                {{ self.feature_number|stringformat:"02d" }}
                {{ self.short_title }}
                <span class="not-in-toc">
                	{{ self.subtitle }}
                </span>
            </h2>
        </div>
        <div class="col-5-6 tab-3-4 mob-full">
            {% image self.reworked.image width-400 class="artwork-img" %}
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-full">
            <div class="rich-text">
                {% fragment 'INTRO' %}
            </div>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-3-4 tab-3-4 mob-3-4">
            <div class="rich-text">
                {% fragment 'who' %}
            </div>
            <div class="rich-text">
                {% fragment 'what' %}
            </div>
            <div class="rich-text">
                {% fragment 'why' %}
            </div>
        </div>
        <div class="col-1-4 tab-1-4 mob-1-4">
            <h3 id="original">Original Work</h3>
            {% image self.original.image width-400 class="artwork-img" %}
            <div class="rich-text">
                <p>{{ self.original.credit_line }}</p>
            </div>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-full">
            {% fragment 'audio' default='' %}
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-full">
        	<h3 id="location">Location</h3>
        </div>
    </div><!-- row -->
    <div class="row">
        <div class="col-3-4 tab-full mob-full">
            <div class="rich-text">
                {% image self.static_map width-800 class="richtext-image full-width" %}
            </div>
        </div>
        <div class="col-1-4 tab-full mob-full">
            <div class="rich-text">
                <p>Strand Campus, Strand, London WC2R 2LS</p>
                {% fragment 'location' 'body' %}
            </div>
        </div>
    </div><!-- row -->
</div> <!-- page-wrap -->
{% endtoc %}

<!-- sidebar -->
{% if toc %}
<div id="sidebar" role="navigation">
    <h3>CONTENT NAVIGATION</h3>
    <ul>
        {% for entry in toc %}
        <li>
            {# TODO: name-active: JS? #}
            <a href="#{{ entry.slug }}" class="name-active2">
                {% if forloop.first %}
                {% image self.get_any_thumbnail width-50 class="toc-thumb" %}
                <h5 class="no-bullet">{{ entry.title }}</h5>
                {% elif 'audio' in entry.slug %}
                <img src="https://cdn2.vectorstock.com/i/1000x1000/84/41/sound-wave-concept-outline-icon-vector-20978441.jpg" alt="After" />
                <h5 class="no-bullet">{{ entry.title }}</h5>
                {% elif 'location' in entry.slug %}
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQutAu0ob712xjnofIZsRBOfPFMAa6lGD_fiw&usqp=CAU" alt="After" />
                <h5 class="no-bullet">{{ entry.title }}</h5>
                {% else %}
                <h5 class="bullet">{{ entry.title }}</h5>
                {% endif %}
            </a>
        </li>
        {% endfor %}
    </ul>
</div> <!-- end .sidebar -->
{% endif %}
<!-- end artwork prototype -->
{% endblock %}