{% extends "cms/exhibition_base.html" %}

{% block exintro %}
    <div class="fullscreen-bg">
        <video loop muted autoplay poster="/static/images/VS_Website_Static_2000x1125px.png" class="fullscreen-bg__video">
            <source src="/static/images/vs_animation_1920.mp4" type="video/mp4" media="all and (min-width: 1200px)">
            <source src="/static/images/vs_animation_1920.webm" type="video/webm" media="all and (min-width: 1200px)">
            <source src="/static/images/vs_animation_720.mp4" type="video/mp4"  media="all and (min-width: 700px)">
            <source src="/static/images/vs_animation_720.webm" type="video/webm" media="all and (min-width: 700px)">
            <source src="/static/images/vs_animation_480.mp4" type="video/mp4">
            <source src="/static/images/vs_animation_480.webm" type="video/webm">
            <!-- source src="/static/images/VS_Website_2000px.mp4" type="video/mp4" -->
        </video>
    </div>
{% endblock %}
