{% extends "cms/exhibition_base.html" %}
{% load wagtailimages_tags %}

{% block excontent %}
     <div class="col-full mob-full">
         {% include "cms/includes/streamfield.html" with blocks=self.body %}

         <ul class="gallery-features">
             {% for feature in self.get_feature_pages %}
                <li>
                    <a href="{{ feature.url }}">
                        <span class="feature-title">{{ feature.title }}</span>
                        {% image feature.thumbnail width-200 class="feature-thumb" %}
                    </a>
                </li>
             {% endfor %}
         </ul>

     </div>
{% endblock excontent %}
