{% extends "cms/base.html" %}
{# % load menu_tags % #}

{% block body-class %}ex-base {{body_classes}}{% endblock %}

{% block main %}

    {% comment %}
        {# GN: TODO: breadcrumb, here showing the immediate parent page ony #}
        <h3 class="breadcrumb-parent not-in-toc">
            <a href="{{ self.get_parent.url }}">
                {{ self.get_parent.title }}
            </a>
        </h3>
    {% endcomment %}

    <h2>{{ self.title }}</h2>

    <div class="row">
        {% block excontent %}
             <div class="col-full mob-full">
                {% include "cms/includes/streamfield.html" with blocks=self.body %}
            </div>
        {% endblock excontent %}
    </div>

{% endblock %}
