{% extends "cms/exhibition_base.html" %}
{% load cms_tags %}
{% load wagtailimages_tags %}

{% block main %}

{% toc %}
 <!-- artwork prototype - static content-->
<input id="switch" type="checkbox" />
<div class="page-wrap">
    <label for="switch" id="menu-toggle"> Page Content</label>

    <div class="row">
        <div class="col-full">
            <div class="content-wrapper">
                <div class="content">
                    <div class="content-padding">
                        <h2>{{ self.title }}</h2>

                        {% if self.artworks.count == 2 %}
                            <div>
                                {% include "cms/includes/feature_artworks_slider.html" with feature=self %}
                                {# % include "cms/includes/feature_artworks_side_by_side.html" with feature=self % #}
                            </div>
                        {% endif %}

                        {% include "cms/includes/streamfield.html" with blocks=self.body %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- page-wrap -->
{% endtoc %}

<!-- sidebar -->
{% if toc %}
    <div id="sidebar" role="navigation">
        <h4>CONTENT NAVIGATION</h4>
        <ul>
            {% for entry in toc %}
                <li>
                    {# TODO: name-active: JS? #}
                    <a href="#{{ entry.slug }}" class="name-active2">
                        {# TODO: img #}
                        <!-- img src="https://pbs.twimg.com/media/EbQfeKJXQAEtsYk.jpg:large" alt="reworked" / -->
                        {# TODO: bullet vs no-bullet #}
                        {% if forloop.first %}
                            {% image self.get_any_thumbnail width-50 class="toc-thumb" %}
                            <h5 class="no-bullet">{{ entry.title }}</h5>
                        {% elif 'audio' in entry.slug %}
                            <img src="https://cdn2.vectorstock.com/i/1000x1000/84/41/sound-wave-concept-outline-icon-vector-20978441.jpg" alt="After" />
                            <h5 class="no-bullet">{{ entry.title }}</h5>
                        {% elif 'location' in entry.slug %}
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQutAu0ob712xjnofIZsRBOfPFMAa6lGD_fiw&usqp=CAU" alt="After" />
                            <h5 class="no-bullet">{{ entry.title }}</h5>
                        {% else  %}
                            <h5 class="bullet">{{ entry.title }}</h5>
                        {% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div> <!-- end .sidebar -->
{% endif %}
<!-- end artwork prototype -->

{% endblock %}
