{% extends "cms/base.html" %} {% load wagtailimages_tags cms_tags %} {% block main %}
<!-- sidebar -->
<div class="row">
  <div class="col-full">
      <div class="content-wrapper">
          <div class="content">
              <div class="content-padding">
                  <div class="sidebar-content">
                      <h2>{{ self.title }}</h2>
                      {% with p=self %} 
                      <section id="image_thumb{{p.id}}">
                      <span class="title"></span>
                      <a href="#image{{p.id}}">{% image p.specific.image original %}</a>
                      <a href="#image{{p.id}}"></a>
                      <h3>{{ p.title }}</h3> <p>{% include "cms/includes/streamfield.html" with blocks=p.specific.body %}</p>


                  
                  <div class="modal-expand" id="image{{p.id}}">
                      <div class="row">
                          <div class="col-full"><a href="#image{{p.id}}">{% image p.specific.image original %}</a>
                          </div>
                          <div class="col-full">
                              <h3>{{ p.title }}</h3> {% include "cms/includes/streamfield.html" with blocks=p.specific.body %}
                          </div>
                      </div>

                  </div>
                  
                      
                </section>


                  {% endwith %}
                  <!-- /content -->
                </div>  
                  <!-- /container -->
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}