{% extends "base.html" %}
{% load cms_tags wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}

{% block meta_title %}Search Results{% endblock %}

{% block main %}



<div class="row">
    <div class="content-wrapper">
        <div class="content">
            <div class="content-padding">
                <h2>{{ self.title }}</h2>
                <p class="byline newspost">
                    <time datetime="{{ page.specific.date }}">
                    {{ page.specific.date|date:'j b Y' }}</time>

                    {% are_comments_allowed as allow_comments %}
                    {% if allow_comments %}
                     | <span class="disqus-comment-count" data-disqus-identifier="{{ page.id }}">Comments</span>
                    {% endif %}

                    {% include "cms/includes/streamfield.html" with blocks=self.specific.body %}

              </p>
                 
                 
                    
            </div>
        </div>
    </div>
</div>



{% endblock %}
