{% extends "cms/base.html" %}
{% load cms_tags wagtailimages_tags wagtailcore_tags wagtailroutablepage_tags %}

{% block main %}

<div class="row">
    <div class="content-wrapper">
        <div class="content">
            <div class="content-padding">
                <h2>{{ self.title }}</h2>
                
                 {% include "cms/includes/streamfield_firstonly_notrunc.html" with blocks=self.body %}
                <div class="row viewport">

                {% for p in self.get_children.live %}
                 <div class="item col-1-3 tab-1-2 mob-full">
                    <a href="#person{{p.id}}">
                        <div class="imgcrop filter">
                            {% image p.specific.image original %}
                        </div>
                        <div class="overlay">
                            <h3>{{p.specific.title}}</h3>
                        </div>
                    </a>
                    <div class="about-expand" id="person{{p.id}}">
                        <div class="row">
                            <div class="col-full ">
                                    {% image p.specific.image original %}
                                    {% include "cms/includes/streamfield.html" with blocks=p.specific.body %}
                            </div>
                        </div>
                        <!--<div class="row">
                            <div class="col-full">
                            {% include "cms/includes/streamfield.html" with blocks=p.specific.body %}
                            </div>
                        </div>-->
                    
                        <a href="#page" class="expand-close">╳</a>
                    </div>
                </div>
                {% endfor %}
            </div>
                 {% include "cms/includes/streamfield_notfirst.html" with blocks=self.body %}
                    
            </div>
        </div>
    </div>
</div>


{% endblock %}
