{% extends "base.html" %} {% load staticfiles compress require %} {% block navigation %} {% endblock %} {% block main %}
<div id="renskin-background">
</div>
<nav id="nav" role="navigation">
    <div class="logo">
        <h1><a href="/">Renaissance Skin</a></h1>
    </div>
    <div class="page-content">
    <h3 style="color:#fff; font-size:2.5rem;">404</h3>
        <p style="color:#fff; font-size:1.3rem;">Sorry, the page you were looking for was not found.</p>
        <p style="color:#cdb586; font-size:1.3rem;">This might be because you typed in the web address incorrectly, or because this page is no longer available. </p><br>
        <a href="/" class="button" style="background:transparent; color;#fff;">Home</a>
    </div>
</nav>

    {% endblock %}