{% extends "base.html" %} {% load staticfiles compress require %} {% block navigation %} {% endblock %} {% block main %}
<div id="renskin-background">
</div>
<nav id="nav" role="navigation">
    <div class="logo">
        <h1><a href="/">Renaissance Skin</a></h1>
    </div>
    <div class="row">
    <div class="col-full">
    <div class="page-content">
    <h3 style="color:#fff; font-size:3rem;">500</h3>
        <p style="color:#fff; font-size:1.5rem;">Sorry there is a server error, the system administrator has been notified</p>
    </div>
    </div>
    </div>
</nav>

    {% endblock %}