{% load staticfiles compress require %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block meta_title %}{% endblock %} | Renaissance Skin</title>

    <!-- favicons -->
    {% include 'includes/favicon.html' %}
    <link rel="icon" href="{% static 'images/renskin-favicon.png' %}" type="image/png">

    {% compress css %}
    {# SCSS compilation relies on django compressor #}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'scss/main.scss' %}">

    {% endcompress %}
</head>

<body>

    <div id="renskin-background">
    </div>

    {% block navigation %}
    <nav id="nav" role="navigation">
    {% include 'includes/navigation.html' %}
    </nav>
    {% endblock %}

    {% block title %}{% endblock %}

    {% block main %}

    {% endblock %}
 
    <footer>
        {% block footer %}
        {% include 'includes/footer.html' %}
        {% endblock %}
    </footer>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-107591427-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-107591427-1');
    </script>

    {% require_module 'config' %}

    {% block footer_scripts %}{% endblock %}
</body>

</html>
