{% extends "cms/base.html" %} {% block main %}
<div class="row">
    <div class="large-3 columns subnav">
        {% block index_page_children %} {% include "cms/includes/index_page_children.html" with pages=self.get_children %} {% endblock %}
    </div>
    <div class="chapters">
        {{ block.super }}
        <div class="item-wrapper">
            <div class="item">
                <a href="#image-1">
					<img src="https://tympanus.net/Development/HoverEffectIdeas/img/1.jpg" alt="image01">
					<div class="overlay">
					   <h2>Skin as a Surface</h2>
					 </div>
				</a>
                <div class="expand" id="image-1">
                    <img src="https://tympanus.net/Development/HoverEffectIdeas/img/1.jpg" alt="image01" />
                    <div>
                        <a href="#image-3" class="item-prev">&#x25C0;</a>
                        <a href="#image-2" class="item-next">&#x25B6;</a>
                        <h3>Skin as a Surface</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                    <a href="#page" class="expand-close">&times;</a>
                </div>
            </div> 

            <div class="item">
                <a href="#image-2">
					<img src="https://tympanus.net/Development/HoverEffectIdeas/img/2.jpg" alt="image02">
					<div class="overlay">
					   <h2>Avoiding Airs</h2>
					 </div>
				</a>
                <div class="expand" id="image-2">
                    <img src="https://tympanus.net/Development/HoverEffectIdeas/img/2.jpg" alt="image02" />
                    <div>
                        <a href="#image-1" class="item-prev">&#x25C0;</a>
                        <a href="#image-3" class="item-next">&#x25B6;</a>
                        <h3>Avoiding Airs</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                    <a href="#page" class="expand-close">&times;</a>
                </div>
            </div> 

            <div class="item">
                <a href="#image-3">
					<img src="https://tympanus.net/Development/HoverEffectIdeas/img/3.jpg" alt="image03">
					<div class="overlay">
					   <h2>Armour and Leather</h2>
					 </div>
				</a>
                <div class="expand" id="image-3">
                    <img src="https://tympanus.net/Development/HoverEffectIdeas/img/3.jpg" alt="image03" />
                    <div>
                        <a href="#image-2" class="item-prev">&#x25C0;</a>
                        <a href="#image-1" class="item-next">&#x25B6;</a>
                        <h3>Armour and Leather</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                    <a href="#page" class="expand-close">&times;</a>
                </div>
            </div> 

			<div class="item">
                <a href="#image-4">
					<img src="https://tympanus.net/Development/HoverEffectIdeas/img/4.jpg" alt="image04">
					<div class="overlay">
					   <h2>Pores and Passage</h2>
					 </div>
				</a>
                <div class="expand" id="image-4">
                    <img src="https://tympanus.net/Development/HoverEffectIdeas/img/4.jpg" alt="image04" />
                    <div>
                        <a href="#image-3" class="item-prev">&#x25C0;</a>
                        <a href="#image-5" class="item-next">&#x25B6;</a>
                        <h3>Pores and Passage</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                    <a href="#page" class="expand-close">&times;</a>
                </div>
            </div> 

            <div class="item">
                <a href="#image-5">
					<img src="https://tympanus.net/Development/HoverEffectIdeas/img/5.jpg" alt="image05">
					<div class="overlay">
					   <h2>Marking Skin</h2>
					 </div>
				</a>
                <div class="expand" id="image-5">
                    <img src="https://tympanus.net/Development/HoverEffectIdeas/img/5.jpg" alt="image05" />
                    <div>
                        <a href="#image-4" class="item-prev">&#x25C0;</a>
                        <a href="#image-6" class="item-next">&#x25B6;</a>
                        <h3>Marking Skin</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                    <a href="#page" class="expand-close">&times;</a>
                </div>
            </div> 

            <div class="item">
                <a href="#image-6">
					<img src="https://tympanus.net/Development/HoverEffectIdeas/img/6.jpg" alt="image06">
					<div class="overlay">
					   <h2>Pimples and spots</h2>
					 </div>
				</a>
                <div class="expand" id="image-6">
                    <img src="https://tympanus.net/Development/HoverEffectIdeas/img/6.jpg" alt="image06" />
                    <div>
                        <a href="#image-5" class="item-prev">&#x25C0;</a>
                        <a href="#image-1" class="item-next">&#x25B6;</a>
                        <h3>Pimples and spots</h3>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                    <a href="#page" class="expand-close">&times;</a>
                </div>
            </div> 


        </div>
    </div>
</div>
{% endblock %}